@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  box-sizing: border-box;
}

/* Apply a custom scroll speed */
.scroll-smooth {
  scroll-behavior: smooth; /* Enable smooth scrolling */
  scroll-snap-type: y mandatory; /* Enable scroll snapping (optional) */
  scroll-snap-align: start; /* Align elements at the start of the scroll container (optional) */
  /* Adjust the scroll speed by modifying the scroll-behavior duration */
  scroll-behavior: smooth 5s; /* Adjust the duration to control the scroll speed */
}
